:root {
    --orange: #d67616;
    --lightblue: #62aa9f;
    --darkblue: #1c8782;
    --darkorange: #c7531a;
    --red: #a63a24;
    --darkred: #822b19;
    --panelbg:rgba(234, 248, 249, .9);
  }

h1{
    font-weight: bold;
}

.demo-info {
    color: var(--darkblue);
}

.panel{
    background-color:var(--panelbg);
    backdrop-filter: blur(2px);
}

body{
    background: url("../images/nyc_bg.jpg");
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100dvh;
}

h2{
    color:var(--darkblue);
}

h3 {
    background-color:var(--darkred);
    font-size: 1rem;
    font-weight: 600;
    padding:.5rem;
    margin:0;
    color:white;
    text-align: start;
}

p{
    margin:0 !important;
}

.leaflet-popup-content {
    text-align: center;
    /* padding:1rem; */
    margin:0 !important;
}

.leaflet-popup-content-wrapper{
    border-radius: .375rem !important;
}
  
  /* CSS from the leaflet-choropleth documentation */
.legend {
    color: #555;
    font-family: Helvetica;
    font-weight: bold;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding:.5rem;
}

.gradient-box{
    background:linear-gradient(90deg, #feeed7,#f8b550,#f17604,#cc3600);
    width:100%;
    height:15px;
    border:2px solid var(--orange)
}

  
.content-container{
    position:relative;
}

@media (min-width: 768px) {
    .content-container{
    min-height: 500px;
  }
}

@media (max-width: 767px){
    .content-container{
    aspect-ratio: 1/1;
  }
}

.content-container>*{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:1;
    opacity:0;
}

.content-container>.forward{
    z-index:2;
    opacity:1;
}

select{
    width:100%;
    background-color: rgba(234, 248, 249);
}

option{
    background-color: rgba(234, 248, 249);
}

button{
    border:0;
    padding:.25rem;
    box-shadow: inset 0 0 5px -3px black;
    background-color: var(--darkred);
    color:white;
    transition:.3s;
    flex-grow:1;
    display: flex;
    column-gap: .25rem;
    justify-content: center;
    align-items: center;
}

button:first-child{
    border-start-start-radius: .375rem;
}

button:last-child{
    border-start-end-radius: .375rem;
}

button:hover,button.selected:hover,button:active,button.selected:active{
    background-color: var(--orange);
}

button.selected{
    box-shadow: none;
    background-color: var(--panelbg);
    color:inherit;
    /* flex-grow:1; */
}




#bar{
    min-height: 300px;
}


a{
    color:var(--darkblue)
}

a:hover{
    color:var(--lightblue)
}

/* Foto de <a href="https://unsplash.com/@jonathanroger?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jonathan Roger</a> en <a href="https://unsplash.com/es/fotos/LY1eyQMFeyo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  

https://unsplash.com/es/fotos/LY1eyQMFeyo */