{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Javier Robles - Portfolio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="{% static 'home/images/roxieicon.svg'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/css/base.css'%}">
</head>
<body class="d-flex flex-column">
    <header class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex p-3 justify-content-between align-items-center">
                <button id="name" onclick="allPages().activatePageMini('about-me')">Javier Robles Samar</button>
                <div id="mini-menu" class="d-md-none">
                    <button class="custom-button" id="minimenu-button"><i class="bi bi-chevron-compact-down" id="mini-menu-icon"></i></button>
                </div>
                <div id="menu" class="d-none d-md-flex align-items-center column-gap-2">
                    <button class="actionLink" onclick="allPages().activatePage('projects')" id="tab-projects"><i class="bi bi-terminal"></i>Projects</button>
                    <button class="actionLink" onclick="allPages().activatePage('resume')" id="tab-resume"><i class="bi bi-file-earmark-text"></i>Resume</button>
                    <a class="actionLink d-inline-block" href="mailto:javieroblesamar@gmail.com" id="tab-contact"><i class="bi bi-person-vcard"></i>Contact me</a>
                </div>
            </div>
            <div class="col-12 divider"></div>
        </div>
        <div id="minimenu" class="collapsible d-md-none flex-column align-items-center">
            <button class="actionLink" onclick="allPages().activatePageMini('projects')" id="tabmini-projects"><i class="bi bi-terminal"></i>Projects</button>
            <button class="actionLink" onclick="allPages().activatePageMini('resume')" id="tabmini-resume" target="_blank"><i class="bi bi-file-earmark-text"></i>Resume</button>
            <a class="actionLink" href="mailto:javieroblesamar@gmail.com" id="tabmini-contact"><i class="bi bi-person-vcard"></i>Contact me</a>
            <div class="col-12 divider"></div>
        </div>
    </header>
    <main class="container-xl flex-grow-1 p-3 d-flex flex-column justify-content-center" id="content">
        <div class="row page active-page justify-content-center" id="about-me">
            <div class="col-12 col-md-5 col-lg-4 px-3 d-flex justify-content-center align-items-center">
                <img src="{% static 'home/images/meAndRoxie.jpg' %}" id="me-and-roxie">
            </div>
            <div class="col-12 col-md-6 mt-3 m-md-0 px-3 d-flex flex-column justify-content-between">
                <h1 class='d-none' id="greeting">Hi, I'm Javi. Welcome to my portfolio.</h1>
                <div class="text-container flex-grow-1">
                    <p class='d-none' id='p-1'>I'm a Full-stack developer and data analyst. I graduated as a mechatronics engineer in 2019, then I worked as a manufacturing design engineer in Monterrey, Mexico. Now, I live in Washington DC with my partner.(That's my dog, Roxie, she's this website's icon.)</p>
                    <p class='d-none' id='p-2'>I started coding in 2022, in both Python and Javascript. I'm always expanding my skills through tutorials, classes and projects. My favorite part of building a web application is creating tools that people find useful and intuitive.</p>
                    <p class='d-none' id='p-3'>This page has some of my projects and contact information if you'd like to connect!</p>
                </div>
                <div class="text-center my-2">
                    <button class="custom-button px-3 py-2" onclick="allPages().activatePage('projects')"><i class="bi bi-terminal me-1"></i>See my projects</button>
                </div>
            </div>
        </div>
        <div class="row page" id="projects">
            <div class="col-12">
                <h1 class="text-center">Projects</h1>
            </div>
            <div class="col-md-6 mb-2 projectLink">
                <a class="d-flex project-title column-gap-2" href="https://lavacoco.pythonanywhere.com" target="_blank">
                    <img src="{% static 'home/images/logos/lavacoco.svg'%}">
                    <h2>Lavandería Coco<i class="bi bi-cone-striped"></i></h2>
                </a>
                <div class="image-description">
                    <p><i class="bi bi-cone-striped"></i>Under development<i class="bi bi-cone-striped"></i> - Web App for a local laundry service where admin and customers can keep track of orders and handle notifications with WhatsApp API.</p>
                    <img class="project-photo"  src="{% static 'home/images/lavacoco.png'%}">
                </div>
                <ul class="tag-container">
                    <li class="dark-tag">Full-Stack Web App</li>
                    <li>React</li>
                    <li>React Router</li>
                    <li>Django API, Login and ORM</li>
                    <li>Webpack</li>
                    <li>SQLite</li>
                    <li>Tailwind CSS</li>
                    <li>Google Font Icons</li>
                    <li>Plotly Graphs</li>
                </ul>
            </div>
            <div class="col-md-6 mb-2 projectLink">
                <a class="d-flex project-title column-gap-2" href="https://www.etiquetasana.com/" target="_blank">
                    <img src="{% static 'home/images/logos/etiquetasana.svg'%}">
                    <h2>Etiqueta Sana</h2>
                </a>
                <div class="image-description">
                    <p>Full-stack web application and content management system for a nutritionist, enabling collaboration on custom meal plans, client-specific recipes, a live food database, progress tracking, and blog management.</p>
                    <img class="project-photo" src="{% static 'home/images/etiquetasana.png' %}">
                </div>
                <ul class="tag-container">
                    <li class="dark-tag">Full-Stack Web App</li>
                    <li>Flask</li>
                    <li>SQLAlchemy</li>
                    <li>Flask-Login</li>
                    <li>AWS S3</li>
                    <li>Email</li>
                    <li>Pillow</li>
                    <li>Pure JavaScript</li>
                    <li>Plotly</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class="col-md-6  mb-2 projectLink">
                <a class="d-flex project-title column-gap-2" href="{% url 'esl_ny:esl_ny'%}" target="_blank">
                    <img src="{% static 'home/images/logos/nycspeakers.png'%}">
                    <h2>NYC ESL speakers</h2>
                </a>
                <div class="image-description">
                    <p>Sunburst and map visualization of limited english proficiency (LEP) residents of New York City. The sunburst and map are dynamic and offer information on LEP demographics for each community district.</p>
                    <img class="project-photo"  src="{% static 'home/images/nyc.png'%}">
                </div>
                <ul class="tag-container">
                    <li class="dark-tag">Data Visualization</li>
                    <li>SQLite</li>
                    <li>Pandas ETL</li>
                    <li>Django ORM</li>
                    <li>API fetch</li>
                    <li>Plotly Graphs</li>
                    <li>Leaflet Choropleth</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class="col-md-6 mb-2 projectLink">
                <a class="d-flex project-title column-gap-2" href="https://javrobs.github.io/house_pricing_analysis/" target="_blank">
                    <img src="{% static 'home/images/logos/austinhouses.png' %}">
                    <h2>Austin Housing</h2>
                </a>
                <div class="image-description">
                    <p>Map visualization of house sale prices in Austin from 2018 to 2021 with filtering capabilities, fed into a linear regression and neural network models for price estimation.</p>
                    <img class="project-photo" src="{% static 'home/images/austin.png' %}">
                </div>
                <ul class="tag-container">
                    <li class="dark-tag">Data Visualization</li>
                    <li>Flask API</li>
                    <li>Leaflet Map</li>
                    <li>TensorFlow</li>
                    <li>Neural Network</li>
                    <li>Linear Regression</li>
                    <li>Scikit-learn</li>
                    <li>Pandas ETL</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class="text-center my-2">
                <button class="custom-button px-3 py-2" onclick="allPages().activatePage('resume')"><i class="bi bi-file-earmark-text me-1"></i>Go to Resume</button>
            </div>
        </div>
        <div class="row page" id="resume">
            <div class="col-12 d-flex flex-column align-items-center">
                <h1>Experience with</h1>
            </div>
            <div class="col-12 col-sm-10 col-sm-9 col-lg-8 m-auto mb-2 d-flex justify-content-center flex-wrap column-gap-2">
                <ul class="tag-container flex-column flex-grow-1 mb-0">
                    <li class="dark-tag">Python</li>
                    <li class="flex-grow-1">Django</li>
                    <li class="flex-grow-1">Flask</li>
                    <li class="flex-grow-1">Pandas</li>
                    <li class="flex-grow-1">Jupyter Notebooks</li>
                    <li class="flex-grow-1">Matplotlib</li>
                    <li class="flex-grow-1">Pillow</li>
                    <li class="flex-grow-1">Boto3</li>
                    <li class="flex-grow-1">SQLAlchemy</li>
                    <li class="flex-grow-1">Pymongo</li>
                    <li class="flex-grow-1">TensorFlow</li>
                    <li class="flex-grow-1">Scikit-learn</li>
                </ul>
                <ul class="tag-container flex-column flex-grow-1">
                    <li class="dark-tag">Javascript</li>
                    <li class="flex-grow-1">React</li>
                    <li class="flex-grow-1">React Router</li>
                    <li class="flex-grow-1">APIs</li>
                    <li class="flex-grow-1">Plotly</li>
                    <li class="flex-grow-1">Leaflet</li>
                    <li class="flex-grow-1">Webpack</li>
                </ul>
                <ul class="tag-container flex-column flex-grow-1">
                    <li class="dark-tag">Databases</li>
                    <li class="flex-grow-1">SQL</li>
                    <li class="flex-grow-1">Mongo</li>
                    <li class="flex-grow-1">Google Firebase</li>
                </ul>
                <ul class="tag-container flex-column flex-grow-1">
                    <li class="dark-tag">CSS</li>
                    <li class="flex-grow-1">Bootstrap</li>
                    <li class="flex-grow-1">Tailwind CSS</li>
                    <li class="flex-grow-1">Bootstrap Icons</li>
                    <li class="flex-grow-1">Google Icons</li>
                    <li class="flex-grow-1">Flexbox</li>
                    <li class="flex-grow-1">Grid</li>
                    <li class="flex-grow-1">Animation</li>
                </ul>
                <ul class="tag-container flex-column flex-grow-1">
                    <li class="dark-tag">AWS</li>
                    <li class="flex-grow-1">Storage (S3)</li>
                    <li class="flex-grow-1">Email service (SES)</li>
                    <li class="flex-grow-1">Cloudfront</li>
                </ul>
                <ul class="tag-container flex-column flex-grow-1">
                    <li class="dark-tag">Data analysis</li>
                    <li class="flex-grow-1">Tableau</li>
                    <li class="flex-grow-1">Power BI</li>
                    <li class="flex-grow-1">Excel</li>
                </ul>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center gap-2 my-2">
                Download my resume:
                <a class="custom-button d-inline-block p-1 fs-4" href="{% static 'home/documents/Resume.docx' %}" target="_blank"><i class="bi bi-filetype-docx"></i></a>
                <a class="custom-button d-inline-block p-1 fs-4" href="{% static 'home/documents/Resume.pdf' %}" target="_blank"><i class="bi bi-filetype-pdf"></i></a>
            </div>
        </div>
    </main>
    <footer class="container-fluid mt-auto text-center">
        <div class="row">
            <div class="col divider"></div>
            <div class="col-12 my-2">
                <p class="m-0">Thanks for stopping by</p>
                <p class="m-0">Let's keep in touch:</p>
                <div class="m-2">
                    <a class="custom-button m-1 text-center py-1 px-2" href="https://www.linkedin.com/in/javier-robles-samar/" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a class="custom-button m-1 text-center py-1 px-2" href="mailto:javieroblesamar@gmail.com"><i class="bi bi-envelope"></i></a>
                    <a class="custom-button m-1 text-center py-1 px-2" href="https://github.com/javrobs" target="_blank"><i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="{% static 'home/js/script.js'%}"></script>
</html>